@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --start-color: #0575E6;
    --end-color: #021B79;
    --p-color: #929DA6;
    --button-background: #0575E6;
    --input-background: #e4eff8;
    --radius-50: 50px;
    --padding-15: 15px;
  }
  
html{
    font-size: 10px;
    font-family:'poppins', sans-serif ;
}

h4 a{
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  color: #5D6575;
}

a:hover{
  color: #FC7941;
}



.hero{
    width: 100%;
    height: 100vh;
    background: rgb(44,50,190);
    background: linear-gradient(90deg, rgb(69, 74, 219) 0%, rgba(21,27,164,1) 100%);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: change 10s ease-in-out infinite;

}
.conte{
  /**position: relative;**/
  display: flex;
  z-index: 2;

}

.hero1{
    width: 100%;
    height: 50vh;
}

.pide{
    position: absolute;
    

}

.pide1{
    top: -15rem;
    left: -10rem;
    transform: rotate(80deg);
}

.pide2{
    bottom: -15rem;
    right: -10rem;
    transform: rotate(220deg);
}


.contenedor{

    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width:80%;

}

#anim {
  max-width: 800px !important;

}

.wrapper {
    width: 100%;
    height: 50vh;
    background: rgb(44,50,190);
    background: linear-gradient(90deg, rgb(69, 74, 219) 0%, rgba(21,27,164,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .wrapper .content {
    background: #fff;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    -webkit-box-shadow: 10px 10px 32px -6px rgba(34,34,46,0.55);
    -moz-box-shadow: 10px 10px 32px -6px rgba(34,34,46,0.55);
    box-shadow: 10px 10px 32px -6px rgba(34,34,46,0.55);
    border-radius: 10px;
    text-align: center;

  }

  .content {
    z-index: 2;

  }
  
  .wrapper .content header h1 {
    font-size: 230%;
    margin-top: 0;
  }
  .wrapper .content section {
    color: var(--p-color);
    font-size: 15px;
  }
  .wrapper .content footer {
    padding: var(--padding-15);
  }
  .wrapper .content footer input {
    border: unset;
    background-color: var(--input-background);
    padding: var(--padding-15);
    font-size: 13px;
    border-radius: var(--radius-50);
    width: 250px;
  }
  .wrapper .content footer button {
    background-color: var(--button-background);
    color: #fff;
    border: unset;
    width: 120px;
    border-radius: var(--radius-50);
    padding: var(--padding-15);
    margin-left: 10px;
    cursor: pointer;
  }
  
  .wrapper .content footer input:focus, .wrapper .content footer button:focus {
    outline: none;
  }
  
  @media screen and (max-width: 720px) {
    .wrapper .content {
      margin-right: 20px !important;
      margin-left: 20px !important;
      padding: var(--padding-15);
    }
    .wrapper .content footer input {
      width: 200px;
      margin-bottom: 10px;
    }
  }

  footer {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 0;
  }

  .fmain{
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }

  .bton{
    float: left;
    margin: 5px;
  }

  .descarga{
    float: left;
    margin: 10px;
  }

  .librerias{
  float: right;
  
}
.colum-central{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .fmain {
    max-width: 600;
    justify-content: center;
  }
  .colum-central {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .librerias {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  #anim {
    max-width: 300px;
  }

}

